<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" xml:lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<!--[if lt IE 9]> 
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="keywords" content="">
	<meta name="description" content="<!--{loop:seo_city}-->Imóveis em <!--{seo_city.categoria_title}-->,  <!--{end:seo_city}--> [config_site_description]" />
    <meta name="author" content="Change Imóveis">
    <meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1">    
    
    <link rel="icon" href="assets/images/icon.png" type="image/png">
	
	<!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
    <!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,400italic,500italic%7CMontserrat:400,700' rel='stylesheet' type='text/css'> 

	<!--[if IE 7]>
		<link rel="stylesheet" href="font-awesome/font-awesome/css/font-awesome-ie7.min.css" type="text/css">
    <![endif]-->	
    
    <!-- Icon-Font -->
    <link rel="stylesheet" href="assets/font-awesome/font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/stroll/stroll.min.css" type="text/css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/styles/animate.min.css" type="text/css">
    <link rel="stylesheet" href="assets/styles/main.css" type="text/css">
	
	<script type="text/javascript" src="assets/js/modernizr.js"></script>

	<title>[config_site_title]</title>
	
</head>

    <body>
        <?php include 'header_nav.html'; ?>
        <?php include 'form_busca.html'; ?>

<section id="result_busca">
    	<div class="section-content">
        	<div class="container">
            	<div class="section-header onscroll-animate" data-animation="fadeInLeft">
        			<h1>Resultados da Busca</h1>
                    <h4>Confira os resultados da sua busca.</h4>
        		</div>
				<!--{loop:i}-->
					<!--{<div class="col-xs-12 col-sm-10 col-lg-4 col-md-4">}-->

							<!--{<div class="post-preview">}-->
								<!--{<a href="[baseUri]/imovel/i.categoria_url/i.sub_url/i.item_id/">}-->
									<!--{<section>}-->
										<!--{<div class="post-preview-img">}-->
											<!--{<div class="post-preview-img-inner">}-->
												<!--{<img alt="i.tipo_title em i.sub_title - i.categoria_title por i.item_preco" title="i.tipo_title em i.sub_title - i.categoria_title por i.item_preco" src="[baseUri]/thumb/i.foto_url/336/200/crop/">}-->
											<!--{</div>}-->
											<!--{<div class="post-preview-label">Para i.item_finalidade</div>}-->										
											<!--{<div class="post-preview-label-alt-wrapper">}-->
													<!--{<div class="post-preview-label-alt">i.item_promo</div>}-->
                                            <!--{</div>}-->
										<!--{</div>}-->
									<!--{</section>}-->	
								<!--{</a>}-->
								<!--{<div class="post-preview-content">}-->
                                    <!--{<h2 class="post-preview-heading">i.tipo_title <span class="pull-right label label-info">Cód. i.item_ref</span></h2>}-->
									<!--{<h2>i.categoria_title</h2>}-->
									<!--{<h2>i.sub_title</h2>}-->
                                    <!--{<div class="post-preview-price-container">}-->
										<!--{<a href="[baseUri]/imovel/i.categoria_url/i.sub_url/i.item_id/" class="read-more-link-alt">Saiba Mais</a>}-->
										<!--{<p class="listing-price"> R$ i.item_preco</p>}-->										
									<!--{</div>}-->
									<!--{<div class="post-preview-detail">}-->
                                        <!--{<a>i.item_area m²</a> <span class="delimiter-inline-alt"></span> <a>i.item_dorm dormitório(s)</a> <span class="delimiter-inline-alt"></span> <a>i.item_wc banheiro(s)</a> <span class="delimiter-inline-alt"></span> <a>i.item_vaga vaga(s)</a>}-->
                                    <!--{</div>}-->
								<!--{</div>}-->
							<!--{</div>}-->

					<!--{</div>}-->
                <!--{end:i}-->
				<h1>[noResult]</h1>
            </div><!-- .container -->
        </div><!-- .section-content -->
</section>
		
	<?php include 'footer_nav.html'; ?>
		
	<script type="text/javascript" src="assets/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/jquery/bootstrap/bootstrap.min.js"></script>	
	<script type="text/javascript" src="assets/owl-carousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="assets/stroll/stroll.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.nicescroll.js"></script>    
	<script type="text/javascript" src="assets/js/custom.js"></script>
	
	<script>
		$(function(){ 	
				[onload]
		})
	</script>
	
	</body>
	
</html>
