<footer id="footer-section">
	<a href="#header-section" class="scroll-to" id="to-top"></a>
	<div class="container footer-info">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-sm-6 footer-column onscroll-animate">
						<h4><img alt="Hometastic" src="assets/images/logo.png"></h4>
						<p>[config_site_about]</p>
					</div>
				</div><!-- .row -->
			</div><!-- .col-md-6 -->
			<div class="col-md-6">
				<div class="row">
					<div class="col-sm-6 footer-column font-normal onscroll-animate" data-delay="600">
						<h4>Informações de Contato</h4>
						<div class="icon-opening-wrapper">
							<div class="icon-opening-container">
								<div class="icon-opening"><i class="fa fa-phone"></i></div>
								<div class="icon-opening-content"> [cliente_telefone1]</div>
							</div>
						</div>
						<div class="icon-opening-wrapper">
							<div class="icon-opening-container">
								<div class="icon-opening"><i class="fa fa-envelope"></i></div>
								<div class="icon-opening-content"> [smtp_username]</div>
							</div>
						</div>
						<div class="icon-opening-wrapper">
							<div class="icon-opening-container">
								<div class="icon-opening"><i class="fa fa-globe"></i></div>
								<div class="icon-opening-content">[cliente_rua], Nº [cliente_num], [cliente_bairro] - [cliente_cidade] / [cliente_uf]</div>
							</div>
						</div>
					</div>
				</div><!-- .row -->
			</div><!-- .col-md-6 -->
		</div><!-- .row -->
	</div><!-- .container -->
	<div class="main-menu-alt">
		<div class="container">
			<div class="menu-button"><i class="fa fa-reorder"></i></div>
			<nav id="bottom-menu" class="menu-container menu-container-slide">
				<div class="underscore-container">
				<ul>
					<li class="active"><a href="#site-top">Home</a></li>
					<li><a href="#busca">Encontre seu imóvel</a></li>
					<li><a href="#citation-section">O que fazemos?</a></li>
					<li><a href="#destaque">Imóveis</a></li>
					<li><a href="#corretores">Corretores</a></li>	
					<li><a href="#contact">Contato</a></li>
				</ul>
				<div class="underscore"><div class="underscore-inner"></div></div>
				</div>
			</nav>
		</div><!-- .container -->
	</div><!-- .main-menu-alt -->
	<div class="site-info">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 onscroll-animate" data-animation="fadeInLeft">
					<p>2016 Todos os direitos reservados. Desenvolvido por <a title="Change" href="http://www.changesolucoes.com"><em>Change Soluções</em></a></p>
				</div>
				<div class="col-xs-6 text-right onscroll-animate" data-animation="fadeInRight">
					<div class="socials-wrapper">
						<div class="social-round-container">
							<a href="#"><i class="fa fa-facebook"></i></a>
						</div>
						<div class="social-round-container">
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
						<div class="social-round-container">
							<a href="#"><i class="fa fa-rss"></i></a>
						</div>
					</div>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .site-info -->
</footer>