<div id="page-loader">
	<div class="centered-columns">
		<div class="centered-column">
			<img alt="loader" src="assets/images/loader.gif">
		</div>
	</div>
</div>

<body>
	<header role="banner" id="fh5co-header">
		<div class="container">
			<nav class="navbar navbar-default">
		        <div class="navbar-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		          	<a class="navbar-brand" href="[baseUri]">[config_site_title]</a>
				</div>
		        <div id="navbar" class="navbar-collapse collapse">
		            <ul class="nav navbar-nav navbar-right">
						<li><a href="#home"><span>Home</span></a></li>
						<li><a href="#busca"><span>Encontre seu Imóvel</span></a></li>
						<li><a href="#citation-section"><span>O que fazemos?</span></a></li>
						<li><a href="#destaque"><span>Imóveis em Destaque</span></a></li>
						<li><a href="#contact"><span>Vamos tomar um café?</span></a></li>
		           </ul>
				</div>
			</nav> 
		</div> 
	</header> 