<div id="page-loader">
	<div class="centered-columns">
		<div class="centered-column">
			<img alt="loader" src="assets/images/loader.gif">
		</div>
	</div>
</div>

<div class="site-top" id="site-top">
	<div class="container clearfix">
		<div class="pull-left">
			<span class="site-top-item">
			<i class="fa fa-envelope"></i><a href="mailto:[smtp_username]"> [smtp_username]</a>
			</span>
			<span class="site-top-item">
				<i class="fa fa-phone"></i> [cliente_telefone1]
			</span>
		</div>
		<div class="pull-right">
			<div class="site-top-item">
				<a href="[baseUri]/admin"><i class="fa fa-user"></i> Área Restrita</a>
			</div>
			<div class="site-top-item">
				<a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
			</div>
			<div class="site-top-item">
				<a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="site-top-item">
				<a href="http://blogspot.com"><i class="fa fa-rss"></i></a>
			</div>
		</div>
	</div><!-- .container -->
</div><!-- .site-top -->

<header id="header-section">
	<div class="main-menu">
		<div class="container">
			<img class="pull-left main-logo" alt="[config_site_title]" src="assets/images/logo.png" href="[baseUri]" />
			<div class="menu-button"><i class="fa fa-reorder"></i></div>
			<nav class="menu-container underscore-container menu-container-fade">
				<ul>
					<li class="active"><a href="#site-top">Home</a></li>
					<li><a href="#busca">Encontre seu imóvel</a></li>
					<li><a href="#citation-section">O que fazemos?</a></li>
					<li><a href="#destaque">Imóveis</a></li>
					<li><a href="#contact">Contato</a></li>
				</ul>
				<div class="underscore"><div class="underscore-inner"></div></div>
			</nav>
		</div><!-- .container -->
	</div><!-- .main-menu -->
</header>